.wrapper{
    border: 3px solid #192a56;
    color: #718093;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    font-weight: 700;
    width: 100px;
    text-align: center;
}